$footerHeight:85px;

.footer {
  text-align: center;
  font-size:1rem;
  line-height:1.5;
  p {
    margin:0;
    color:#fff9f0;
  }
  padding:20px 5px;
  background:#002d4c;
  min-height: $footerHeight;

  a {
    color: #f6b221;

    &:hover {
      color: #fff9f0;
    }
  }
}

#content > .fade-content:first-of-type {
  min-height:calc(100vh - 97px - #{$footerHeight});
}