@include keyframes(bubble) {

  0% {
    transform: scale(1.1, 1.1);
    opacity: 0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1.2, 1.2) rotate(20deg);
    opacity: 0;
  }

}

@include keyframes(dropIn) {
  0% {
    opacity: 0;
    transform: translate3d(0, -80px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

$roxyRed: #dd3b54;

#content .cover-video.just-background {
  background: #d51f3c;
}

$width: 250px;
$height: 250px;

html:not(.nprogress-busy) {
  .box-round {
    @include animate(dropIn, 1s);
    &:after {
      @include animate(bubble, 3s, infinite);
      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

.box-round {
  cursor: pointer;
  align-self: center;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 50%;
  width: $width;
  height: $height;
  z-index: 2;
  background: $roxyRed;
  position: relative;
  opacity: 0;
  i {
    pointer-events: none;
    color: rgba(#fff, .7);
    font-size: 80px;
    z-index: 2;
    position: absolute;
    top: #{calc(50% - (80px / 2))};
    left: #{calc(50% - (80px / 2))};
    @include perspectiveHelper();
  }

  i:before {
    transition: transform .3s ease;
    transform: scale(1);
  }

  &:before {
    position: absolute;
    width: calc(100% + 24px);
    content: ' ';
    height: calc(100% + 24px);
    left: -12px;
    border-radius: 50%;
    top: -12px;
    border: 10px solid #db324c;
    z-index: 2;
  }

  &:after {
    position: absolute;
    width: calc(100% + 24px);
    content: ' ';
    height: calc(100% + 24px);
    left: -12px;
    border-radius: 50%;
    top: -12px;
    transform: scale(1.10);
    border-image-source: url(images/dots.svg);
    border-image-slice: 50%;
    border-image-width: 100%;
    background-clip: padding-box;
    z-index: 1;
  }
  transition: background .5s ease;

  &:hover {
    background: rgba($roxyRed, 1);
    i:before {
      transform: scale(1.3);
    }
  }
  &:active {
    background: darken($roxyRed, 10%);
    i:before {
      transform: scale(1.4);
    }
  }
}

.loader-container > .loader {
  height: 40px;
}

.modal-container {
  background: rgba(#000, .5);
}

.video-embed-container iframe,
.video-embed-container object,
.video-embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-modal {
  width: 100%;
  min-width: 100%;
  background: rgba(#000, .5);
  min-height: 80vh;
  padding: 0;
  .modal-close {
    color: #fff;
    background: none;
    font-size: 32px;

    &:hover {
      color: darken(#fff, 20);
    }

    &:active {
      color: darken(#fff, 40);
    }
  }
  align-self: center !important;
}