@include keyframes(bubble) {

  0% {
    transform: scale(1.1, 1.1);
    opacity: 0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1.2, 1.2) rotate(20deg);
    opacity: 0;
  }

}

@include keyframes(bubble-before) {
  0% {
    transform: scale(.98, .98);
    opacity: 1;
  }
  100% {
    transform: scale(1.05, 1.05);
    opacity: .4;
  }
}

@include keyframes(dropIn) {
  0% {
    opacity: 0;
    transform: translate3d(0, -80px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

$roxyRed: #dd3b54;

$width: 250px;
$height: 250px;

.box-round {
  @include animate(dropIn, 1s);
  animation-delay: .3s;
  &:after {
    opacity: 0;
    @include animate(bubble, 3s, infinite);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: .3s;
  }

  &:before {
    @include animate(bubble-before, 1.5s, infinite, alternate);
  }
}

.box-round {
  cursor: pointer;
  align-self: center;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 50%;
  width: $width;
  height: $height;
  z-index: 2;
  background: $roxyRed;
  position: relative;
  opacity: 0;
  top: 35px;
  i {
    pointer-events: none;
    color: rgba(#fff, .85);
    font-size: 90px;
    z-index: 2;
    position: absolute;
    top: #{calc(50% - (90px / 2))};
    left: #{calc(48% - (90px / 2))};
  }

  i:before {
    transition: transform .3s ease;
    transform: scale(1);
  }

  &:before {
    position: absolute;
    width: calc(100% + 24px);
    content: ' ';
    height: calc(100% + 24px);
    left: -12px;
    border-radius: 50%;
    top: -12px;
    border: 10px solid #db324c;
    z-index: 2;
  }

  &:after {
    position: absolute;
    width: calc(100% + 24px);
    content: ' ';
    height: calc(100% + 24px);
    left: -12px;
    border-radius: 50%;
    top: -12px;
    transform: scale(1.10);
    border-image-source: url(images/dots.svg);
    border-image-slice: 50%;
    border-image-width: 100%;
    background-clip: padding-box;
    z-index: 1;
  }
  transition: background-color .5s ease;

  &:hover {
    background-color: rgba($roxyRed, 1);
    i:before {
      transform: scale(1.3);
    }
  }
  &:active {
    background-color: darken($roxyRed, 2%);
    i:before {
      transform: scale(1.4);
    }
  }
}

@-moz-document url-prefix() {
  .box-round:after {
    border-image: none;
  }
}

#content .cover-video {

  &.just-background {
    background: #d51f3c;
    .box-round {
      background: #dd3b54 url(images/logo.svg) no-repeat 10px center;
      background-size: 80% auto;
      &:hover {
        background-color: lighten($roxyRed, 5%);
        i:before, i:after {
          transform: scale(1.3);
        }
      }
      &:active {
        background-color: darken($roxyRed, 2%);
        i:before, i:after {
          transform: scale(1.4);
        }
      }
    }
  }

  &:not(.just-background) {
    .box-round {
      background-position: center !important;
      background-size:cover !important;
      &:before {
        border-color: rgba(#fff9f0, .30);
      }

    }
  }
}

.loader-container > .loader {
  height: 40px;
}

.modal-container {
  background: rgba(#000, .5);
}

.video-embed-container iframe,
.video-embed-container object,
.video-embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-modal {
  width: 100%;
  min-width: 100%;
  background: rgba(#000, .5);
  min-height: 80vh;
  padding: 0;
  .modal-close {
    color: #fff;
    background: black;
    font-size: 32px;
    left:0;
    right:auto;
    transition:color $globalShortEaseTime ease;
    &:hover {
      color: darken(#fff, 20);
    }

    &:active {
      color: darken(#fff, 40);
    }
  }
  align-self: center !important;
}